*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.frm{
    width: 100%;
    padding: px;
    margin-bottom: 20px;

}
.frms{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 100px;
    margin: 15px auto;
    width: 70%;
    border: 1px solid black;
}
h3{
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    padding: 20px;
}
input , select{
    padding: 10px;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
button{
    padding: 10px 10px;
    width: 50%;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
}
a{
    color: white;
    text-decoration: none;
}

.form {
    width: 100%;
    padding: 20px;
  }
  
  .frms {
    width: 100%;
    padding: 20px;
  }
  
  @media (min-width: 768px) {
    .form {
      width: 80%;
      margin: 0 auto;
    }
  
    .frms {
      width: 60%;
      margin: 0 auto;
    }
  }
  
  @media (min-width: 1200px) {
    .form {
      width: 60%;
      margin: 0 auto;
    }
  
    .frms {
      width: 40%;
      margin: 0 auto;
    }
  }